@model Employee
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border-3 p-3">
        <h2 class="text-center mb-3">New Employee</h2>

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["empid"]" />
                </div>
            </div>



            <!--FirstName-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <!--LastName-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <!--Dob-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date Of Birth</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DOB" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>


            <!-- Country -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8">
                    <select id="Country" name="Country" asp-for="Country" class="form-select"
                            asp-items="ViewBag.Countries">
                        <option value="">-- Select Country --</option>
                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            <!-- State -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                    <select id="State" asp-for="State" class="form-select">
                        <option value="">-- Select State --</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>



            <!--Qualification-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Qualification</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Qualification" />
                    <span asp-validation-for="Qualification" class="text-danger"></span>
                </div>
            </div>
            

            <!--Email-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <!--Phone no-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="PhoneNo" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>


            <!--Submit-->
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Emp" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var selectedCountry = "@Model.Country";
            var selectedState = "@Model.State";

            // If country already saved, load states immediately
            if (selectedCountry) {
                $.getJSON('/Emp/GetStates?countryCode=' + selectedCountry, function (data) {
                    var stateDropdown = $('#State');
                    stateDropdown.empty();
                    stateDropdown.append('<option value="">-- Select State --</option>');
                    $.each(data, function (i, state) {
                        var option = $('<option>', { value: state.name, text: state.name });
                        if (state.name === selectedState) {
                            option.attr("selected", "selected");
                        }
                        stateDropdown.append(option);
                    });
                });
            }

            // On country change
            $('#Country').change(function () {
                var countryCode = $(this).val();
                if (countryCode) {
                    $.getJSON('/Emp/GetStates?countryCode=' + countryCode, function (data) {
                        var stateDropdown = $('#State');
                        stateDropdown.empty();
                        stateDropdown.append('<option value="">-- Select State --</option>');
                        $.each(data, function (i, state) {
                            stateDropdown.append('<option value="' + state.name + '">' + state.name + '</option>');
                        });
                    });
                } else {
                    $('#State').empty().append('<option value="">-- Select State --</option>');
                }
            });
        });
    </script>
}
